<app-navbar></app-navbar>

<router-outlet />

<app-footer></app-footer>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.9)" size = "medium" color="#fff" type="ball-atom" [fullScreen]="true">

  <!-- <div class="cube-loader">
    <div class="cube-top"></div>
    <div class="cube-wrapper">
      <span style="--i:0" class="cube-span"></span>
      <span style="--i:1" class="cube-span"></span>
      <span style="--i:2" class="cube-span"></span>
      <span style="--i:3" class="cube-span"></span>
    </div>
  </div> -->
  <p style="color: white" class="mt-6  "> Loading... </p>
</ngx-spinner>
